USE [master]
GO
/****** Object:  Database [QuanLyNongSan]    Script Date: 6/13/2026 11:38:04 AM ******/
CREATE DATABASE [QuanLyNongSan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyNongSan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\QuanLyNongSan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyNongSan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\QuanLyNongSan_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyNongSan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyNongSan]
GO
/****** Object:  User [NV_BanHang]    Script Date: 6/13/2026 11:38:05 AM ******/
CREATE USER [NV_BanHang] FOR LOGIN [NV_BanHang] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[BaoCaoLoLoi]    Script Date: 6/13/2026 11:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCaoLoLoi](
	[MaBaoCao] [int] IDENTITY(1,1) NOT NULL,
	[MaDG] [int] NOT NULL,
	[MaLo] [nvarchar](20) NOT NULL,
	[NgayPhatHien] [date] NULL,
	[KetQuaXuLy] [nvarchar](200) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBaoCao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 6/13/2026 11:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 6/13/2026 11:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[MaPN] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGiaNhap] [money] NULL,
	[HanSuDung] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGiaSanPham]    Script Date: 6/13/2026 11:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGiaSanPham](
	[MaDG] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[MaKH] [nvarchar](20) NOT NULL,
	[NgayDanhGia] [date] NULL,
	[MoTaLoi] [nvarchar](500) NULL,
	[MucDoLoi] [nvarchar](20) NULL,
	[HinhAnh] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 6/13/2026 11:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [datetime] NULL,
	[MaNV] [int] NULL,
	[TongTien] [money] NULL,
	[PhanHoi] [nvarchar](max) NULL,
	[MaKH] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 6/13/2026 11:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [nvarchar](20) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SDT] [nvarchar](15) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[Email] [nvarchar](100) NULL,
	[GhiChu] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiHang]    Script Date: 6/13/2026 11:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHang](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 6/13/2026 11:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [varchar](10) NOT NULL,
	[TenNCC] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
	[SDT] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 6/13/2026 11:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](255) NULL,
	[VaiTro] [nvarchar](50) NULL,
	[SDT] [nvarchar](20) NULL,
	[DiaChi] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 6/13/2026 11:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPN] [int] IDENTITY(1,1) NOT NULL,
	[NgayNhap] [datetime] NULL,
	[MaNV] [int] NULL,
	[GhiChu] [nvarchar](500) NULL,
	[MaNCC] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 6/13/2026 11:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](200) NOT NULL,
	[DVT] [nvarchar](50) NULL,
	[GiaBan] [money] NULL,
	[SoLuongTon] [int] NULL,
	[MaLoai] [int] NULL,
	[NgayNhapGanNhat] [date] NULL,
	[MaNV_Nhap] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinLo]    Script Date: 6/13/2026 11:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinLo](
	[MaLo] [nvarchar](20) NOT NULL,
	[TenLo] [nvarchar](100) NOT NULL,
	[SoLuongNhap] [int] NOT NULL,
	[NgayNhap] [date] NOT NULL,
	[DonViNhap] [nvarchar](100) NULL,
	[MaKH] [nvarchar](20) NULL,
	[NgayMua] [date] NULL,
	[ThongTinLienHe] [nvarchar](200) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](300) NULL,
	[MaSP] [int] NULL,
	[MaPN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BaoCaoLoLoi] ON 

INSERT [dbo].[BaoCaoLoLoi] ([MaBaoCao], [MaDG], [MaLo], [NgayPhatHien], [KetQuaXuLy], [TrangThai]) VALUES (5, 6, N'LO001', CAST(N'2026-06-11' AS Date), N'Dang kiem tra lo hang', N'Dang xu ly')
INSERT [dbo].[BaoCaoLoLoi] ([MaBaoCao], [MaDG], [MaLo], [NgayPhatHien], [KetQuaXuLy], [TrangThai]) VALUES (6, 7, N'LO002', CAST(N'2026-06-11' AS Date), NULL, N'Cho xu ly')
SET IDENTITY_INSERT [dbo].[BaoCaoLoLoi] OFF
GO
INSERT [dbo].[ChiTietPhieuNhap] ([MaPN], [MaSP], [SoLuong], [DonGiaNhap], [HanSuDung]) VALUES (1, 1, 100, 15000.0000, CAST(N'2026-05-20' AS Date))
INSERT [dbo].[ChiTietPhieuNhap] ([MaPN], [MaSP], [SoLuong], [DonGiaNhap], [HanSuDung]) VALUES (1, 2, 50, 30000.0000, CAST(N'2026-06-15' AS Date))
GO
SET IDENTITY_INSERT [dbo].[DanhGiaSanPham] ON 

INSERT [dbo].[DanhGiaSanPham] ([MaDG], [MaHD], [MaSP], [MaKH], [NgayDanhGia], [MoTaLoi], [MucDoLoi], [HinhAnh]) VALUES (6, 1, 1, N'KH001', CAST(N'2026-06-11' AS Date), N'Rau bi heo, khong tuoi', N'Nhe', NULL)
INSERT [dbo].[DanhGiaSanPham] ([MaDG], [MaHD], [MaSP], [MaKH], [NgayDanhGia], [MoTaLoi], [MucDoLoi], [HinhAnh]) VALUES (7, 2, 2, N'KH002', CAST(N'2026-06-11' AS Date), N'Trai cay bi dap, co moc', N'Nghiem trong', NULL)
SET IDENTITY_INSERT [dbo].[DanhGiaSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHD], [NgayLap], [MaNV], [TongTien], [PhanHoi], [MaKH]) VALUES (1, CAST(N'2026-06-11T17:53:20.940' AS DateTime), 1, 500000.0000, NULL, N'KH001')
INSERT [dbo].[HoaDon] ([MaHD], [NgayLap], [MaNV], [TongTien], [PhanHoi], [MaKH]) VALUES (2, CAST(N'2026-06-11T17:53:20.940' AS DateTime), 2, 300000.0000, NULL, N'KH002')
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [SDT], [DiaChi], [Email], [GhiChu]) VALUES (N'KH001', N'Nguyễn Văn An', N'0901234567', N'Hà Nội', N'an@email.com', N'')
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [SDT], [DiaChi], [Email], [GhiChu]) VALUES (N'KH002', N'Trần Thị Bình', N'0912345678', N'TP.HCM', N'binh@email.com', N'')
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [SDT], [DiaChi], [Email], [GhiChu]) VALUES (N'KH003', N'Lê Văn Cường', N'0923456789', N'Đà Nẵng', N'cuong@gmail.com', N'Khách quen')
GO
SET IDENTITY_INSERT [dbo].[LoaiHang] ON 

INSERT [dbo].[LoaiHang] ([MaLoai], [TenLoai]) VALUES (1, N'Rau củ')
INSERT [dbo].[LoaiHang] ([MaLoai], [TenLoai]) VALUES (2, N'Trái cây')
INSERT [dbo].[LoaiHang] ([MaLoai], [TenLoai]) VALUES (3, N'Thịt sạch')
SET IDENTITY_INSERT [dbo].[LoaiHang] OFF
GO
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SDT]) VALUES (N'NCC001', N'Hợp tác xã Rau sạch Hà Nội', N'Hà Nội', N'0901111111')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SDT]) VALUES (N'NCC002', N'Trang trại nông sản Sạch', N'Hưng Yên', N'0902222222')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SDT]) VALUES (N'NCC003', N'Công ty TNHH hải sản Đại Dương', N'TP.HCM', N'0903333333')
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [Username], [Password], [VaiTro], [SDT], [DiaChi]) VALUES (1, N'Bùi Đức Dương', N'admin', N'123456', N'NVKho', N'0987654321', N'Vĩnh Phúc')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [Username], [Password], [VaiTro], [SDT], [DiaChi]) VALUES (2, N'Nguyễn Quốc Thái', N'nv_banhang1', N'password789', N'NVThanhToan', N'0912345678', N'Hà Nội')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [Username], [Password], [VaiTro], [SDT], [DiaChi]) VALUES (3, N'Hoàng Trung Hiếu', N'nv_banhang2', N'password789', N'NVGiaoHang', NULL, NULL)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuNhap] ON 

INSERT [dbo].[PhieuNhap] ([MaPN], [NgayNhap], [MaNV], [GhiChu], [MaNCC]) VALUES (1, CAST(N'2026-04-21T19:12:30.133' AS DateTime), 1, N'Nhập lô hàng đầu tiên', NULL)
SET IDENTITY_INSERT [dbo].[PhieuNhap] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DVT], [GiaBan], [SoLuongTon], [MaLoai], [NgayNhapGanNhat], [MaNV_Nhap]) VALUES (1, N'Cải bó xôi', N'Bó', 15000.0000, 50, 1, NULL, NULL)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DVT], [GiaBan], [SoLuongTon], [MaLoai], [NgayNhapGanNhat], [MaNV_Nhap]) VALUES (2, N'Táo nhập khẩu', N'Kg', 85000.0000, 20, 2, NULL, NULL)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DVT], [GiaBan], [SoLuongTon], [MaLoai], [NgayNhapGanNhat], [MaNV_Nhap]) VALUES (3, N'Thịt heo sạch', N'Kg', 130000.0000, 15, 3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
INSERT [dbo].[ThongTinLo] ([MaLo], [TenLo], [SoLuongNhap], [NgayNhap], [DonViNhap], [MaKH], [NgayMua], [ThongTinLienHe], [TrangThai], [GhiChu], [MaSP], [MaPN]) VALUES (N'LO001', N'Lô rau củ tháng 6', 500, CAST(N'2026-06-01' AS Date), N'HTX Rau sạch Hà Nội', N'KH001', CAST(N'2026-06-05' AS Date), N'0901234567', N'Đã bán', NULL, NULL, NULL)
INSERT [dbo].[ThongTinLo] ([MaLo], [TenLo], [SoLuongNhap], [NgayNhap], [DonViNhap], [MaKH], [NgayMua], [ThongTinLienHe], [TrangThai], [GhiChu], [MaSP], [MaPN]) VALUES (N'LO002', N'Lô trái cây miền Nam', 300, CAST(N'2026-06-08' AS Date), N'Vườn cây Long An', NULL, NULL, N'', N'Còn hàng', NULL, NULL, NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__536C85E45725B8C5]    Script Date: 6/13/2026 11:38:05 AM ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__536C85E4C9FF6606]    Script Date: 6/13/2026 11:38:05 AM ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaoCaoLoLoi] ADD  DEFAULT (getdate()) FOR [NgayPhatHien]
GO
ALTER TABLE [dbo].[BaoCaoLoLoi] ADD  DEFAULT (N'Chờ xử lý') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DanhGiaSanPham] ADD  DEFAULT (getdate()) FOR [NgayDanhGia]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[ThongTinLo] ADD  DEFAULT ((0)) FOR [SoLuongNhap]
GO
ALTER TABLE [dbo].[ThongTinLo] ADD  DEFAULT (N'Còn hàng') FOR [TrangThai]
GO
ALTER TABLE [dbo].[BaoCaoLoLoi]  WITH CHECK ADD  CONSTRAINT [FK_BaoCao_DanhGia] FOREIGN KEY([MaDG])
REFERENCES [dbo].[DanhGiaSanPham] ([MaDG])
GO
ALTER TABLE [dbo].[BaoCaoLoLoi] CHECK CONSTRAINT [FK_BaoCao_DanhGia]
GO
ALTER TABLE [dbo].[BaoCaoLoLoi]  WITH CHECK ADD  CONSTRAINT [FK_BaoCao_ThongTinLo] FOREIGN KEY([MaLo])
REFERENCES [dbo].[ThongTinLo] ([MaLo])
GO
ALTER TABLE [dbo].[BaoCaoLoLoi] CHECK CONSTRAINT [FK_BaoCao_ThongTinLo]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaPN])
REFERENCES [dbo].[PhieuNhap] ([MaPN])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[DanhGiaSanPham]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[DanhGiaSanPham] CHECK CONSTRAINT [FK_DanhGia_HoaDon]
GO
ALTER TABLE [dbo].[DanhGiaSanPham]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DanhGiaSanPham] CHECK CONSTRAINT [FK_DanhGia_KhachHang]
GO
ALTER TABLE [dbo].[DanhGiaSanPham]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[DanhGiaSanPham] CHECK CONSTRAINT [FK_DanhGia_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhaCungCap]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiHang] ([MaLoai])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiHang] ([MaLoai])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaNV_Nhap])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[ThongTinLo]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[ThongTinLo]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinLo_PhieuNhap] FOREIGN KEY([MaPN])
REFERENCES [dbo].[PhieuNhap] ([MaPN])
GO
ALTER TABLE [dbo].[ThongTinLo] CHECK CONSTRAINT [FK_ThongTinLo_PhieuNhap]
GO
ALTER TABLE [dbo].[ThongTinLo]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinLo_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ThongTinLo] CHECK CONSTRAINT [FK_ThongTinLo_SanPham]
GO
ALTER TABLE [dbo].[BaoCaoLoLoi]  WITH CHECK ADD  CONSTRAINT [CK_BaoCao_TrangThai] CHECK  (([TrangThai]='Da xu ly' OR [TrangThai]='Dang xu ly' OR [TrangThai]='Cho xu ly'))
GO
ALTER TABLE [dbo].[BaoCaoLoLoi] CHECK CONSTRAINT [CK_BaoCao_TrangThai]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[DanhGiaSanPham]  WITH CHECK ADD  CONSTRAINT [CK_DanhGia_MucDoLoi] CHECK  (([MucDoLoi]='Nghiem trong' OR [MucDoLoi]='Trung binh' OR [MucDoLoi]='Nhe'))
GO
ALTER TABLE [dbo].[DanhGiaSanPham] CHECK CONSTRAINT [CK_DanhGia_MucDoLoi]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([GiaBan]>(0)))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([GiaBan]>(0)))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([SoLuongTon]>=(0)))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([SoLuongTon]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_DoanhThuTheoNgay]    Script Date: 6/13/2026 11:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DoanhThuTheoNgay]
    @TuNgay DATETIME,
    @DenNgay DATETIME
AS
BEGIN
    SELECT MaHD, NgayLap, TongTien 
    FROM HoaDon 
    WHERE NgayLap BETWEEN @TuNgay AND @DenNgay;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LaySanPhamTheoLoai]    Script Date: 6/13/2026 11:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LaySanPhamTheoLoai]
    @MaLoai INT
AS
BEGIN
    SELECT * FROM SanPham WHERE MaLoai = @MaLoai;
END;
GO
USE [master]
GO
